@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: var(--font-mark-pro), ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .dark-overlay {
    position: relative;
  }
  .dark-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
